@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

html,
body {
  overflow-x: hidden;
  background: black;
  scroll-behavior: smooth;
}


section {
  padding: 6rem 0;
  margin-left: 32px;
  margin-right: 32px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background: black;
  color: white;
}

.outlined {
  background: transparent;
  color: white;
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0.7rem 1.2rem;
  border-radius: 32px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s ease;
}

.outlined:hover {
  background: white;
  color: black;
  opacity: 75%;
}

.outlined:active {
  opacity: 50%;
}

.filled {
  background: white;
  color: black;
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0.7rem 1.2rem;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.filled:hover {
  opacity: 75%;
}

.filled:active {
  opacity: 50%;
}

.error {
  border-color: red !important;
  color: red;
}

/* Initial hidden states */
.fade-in-up,
.fade-in-left,
.fade-in-right,
.fade-in-zoom,
.drop-in {
  opacity: 0;
  transition: all 0.6s ease-out;
}
.fade-in-up {
  transform: translateY(90px);
}

.fade-in-left {
  transform: translateX(-90px);
}

.fade-in-right {
  transform: translateX(39px);
}

.fade-in-zoom {
  transform: scale(0.85);
}

.drop-in {
  transform: translateY(-50px);
}

/* Visible states (applied by JavaScript) */
.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-zoom.visible {
  opacity: 1;
  transform: scale(1);
}

.drop-in.visible {
  opacity: 1;
  transform: translateY(0);
}

#projects .cards .card:nth-child(1) { transition-delay: 0.3s; }
#projects .cards .card:nth-child(2) { transition-delay: 0.6s; }
#projects .cards .card:nth-child(3) { transition-delay: 0.9s; }

.container .header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  z-index: 2000;
  transition: top 0.3s ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(53, 53, 53, 0.3);
  backdrop-filter: blur(80px);
  padding: 32px;
  position: relative;
  border-radius: 48px;
  gap: 6rem;
  margin-top: 32px;
  margin-left: 64px;
  margin-right: 64px;
  /*max-width: 400px;*/
  min-width: 500px;

}

/*.header.scrolled {*/
/*  background-color: rgba(20, 20, 20, 0.98);*/
/*  box-shadow: var(--shadow-md);*/
/*}*/

header img {
  height: 64px;
}

header nav.mobile {
  display: none;
}

header nav.mobile i {
  font-size: 3rem;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

header nav.mobile:hover,
header nav.mobile:focus,
header nav.mobile:active {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.mobile-menu-wrapper {
  /*display: none;*/
  /*use flex*/

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(75px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 110%;
  margin: 0;
  transition: all 0.6s ease-in-out;

  z-index: 2001;

}

.mobile-menu-wrapper.active {
  left: 0;
}

.mobile-menu-wrapper .mobile-menu-close {
  font-size: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.5rem 3rem;
  padding: 1rem;
  user-select: none;
  transition: all 0.1s ease-in-out;

}

.mobile-menu-wrapper .mobile-menu-close:hover,
.mobile-menu-wrapper .mobile-menu-close:active {
  cursor: pointer;
  color: rgba(240, 240, 240, 0.76);
}


.mobile-menu {
  max-width: 450px;
  min-width: 250px;
  width: 100%;
  height: 80%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*border: 1px solid red;*/
  row-gap: 64px;

}


.mobile-menu a {
  font-size: 2rem;
  text-decoration: underline;
  padding: 1rem 0.5rem;
}

.mobile-menu button {
  margin: 1rem;
  transform: scale(1.5);
  color: white;
  background: black;
}



header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding-left: 2rem;
  font-weight: 300;
  transition: 0.3s ease;
}

header nav a:hover {
  opacity: 75%;
}

header nav a:active {
  opacity: 50%;
}

header nav button {
  margin-left: 1.75rem;
}

main {
  padding-top: 150px;

}


main #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 0;
}

main #hero h1 {
  font-size: 72px;
  font-weight: 300;
  margin-bottom: 8px;
}

main #hero p {
  font-size: 16px;
  opacity: 75%;
  margin-bottom: 24px;
  text-align: center;
}

main #hero .actions {
  display: flex;
  align-items: center;
}

main #hero .actions button {
  margin-left: 4px;
  margin-right: 4px;
}

main #testimonials {
  padding: 2rem 0rem;
  overflow: hidden;
  position: relative;
  display: flex;

}

main #testimonials .scroll-container {
  overflow: hidden;
  width: 100%;
  border-radius: 32px;

}

main #testimonials .scroll-container .scroller {
  display: flex;
  width: max-content;
  animation: scroll-loop 40s linear infinite;
}

main #testimonials .scroll-container .scroller .card-group {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

main #testimonials .scroll-container .scroller .card-group .card {
  flex: 0 0 auto;
  width: 384px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 32px;
}

main #testimonials .scroll-container .scroller .card-group .card .name {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

main #testimonials .scroll-container .scroller .card-group .card .name img {
  height: 32px;
  width: 32px;
  margin-right: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
}

main #testimonials .scroll-container .scroller .card-group .card p {
  font-size: 16px;
  font-weight: 300;
  opacity: 75%;
  margin-bottom: 16px;
}

main #testimonials .scroll-container .scroller .card-group .card .rating {
  display: flex;
  align-items: center;
}

main #about {
  padding: 9rem 0rem;
}

main #about h3 {
  font-weight: 300;
  font-size: 32px;
    line-height: 1.55;
}


main #projects h2 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 48px;
}

main #projects .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  z-index: 2;
}

main #projects .cards .card {
  flex: 1;
  display: flex;
  max-width: 1000px;
  min-width: 300px;
  flex-direction: column;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;

}

main #projects .cards .card img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

main #projects .cards .card .content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
}

main #projects .cards .card .content h3 {
  font-weight: 300;
  margin-bottom: 8px;
  font-size: 24px;
}

main #projects .cards .card .content p {
  opacity: 75%;
  margin-bottom: 24px;
}

main #projects .cards .card .content button {
  margin-top: auto;
  align-self: flex-start;
}

main #pricing h2 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 48px;
}

main #pricing .tiers {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

}

main #pricing .tiers .tier {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  min-width: 300px;
}

main #pricing .tiers .tier:nth-child(1) {transition-delay: 0.1s}
main #pricing .tiers .tier:nth-child(2) {transition-delay: 0.2s}
main #pricing .tiers .tier:nth-child(3) {transition-delay: 0.3s}


main #pricing .tiers .tier .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    padding: 16px;
    margin-top: auto;

}

main #pricing .tiers .tier hr {
    width: 60%;
    margin: auto;
    border-color: #3c3c3c;
}

main #pricing .tiers .tier .button-container button {
    background: white;
    color: black;
    border-radius: 12px;
    border: darkgray solid 1px;
    width: 100%;
    height: 80%;
    margin: 40px 10px;
    font-family: "Geist", sans-serif;
    font-weight: 500;
}

main #pricing .tiers .tier .content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex-grow: 1;
}

main #pricing .tiers .tier .content h3 {
  font-weight: 300;
  opacity: 75%;
}

main #pricing .tiers .tier .content h2 {
  margin-bottom: 2rem;
}

main #pricing .tiers .tier .content p {
  opacity: 75%;
  margin-bottom: 2rem;
}

main #pricing .tiers .tier .content ul {
  list-style: none;
}

main #contact {
    margin-left: 20%;
    margin-right: 20%;
}

main #contact h2 {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 16px;
    text-align: center;
}

main #contact p {
  margin-bottom: 48px;
  opacity: 75%;
    text-align: center;
}

main #contact form {
  display: flex;
  flex-direction: column;
}

main #contact form .name-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
}

main #contact form .name-container .name-group {
    display: flex;
    flex-direction: column;
    width: max-content;

}

main #contact form .name-container .name-group input {
    width: 100%;
}

main #contact form label {
  opacity: 75%;
  margin-bottom: 8px;
}

main #contact form input {
  margin-bottom: 16px;
  background: transparent;
  color: white;
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  border: 1px solid white;
  outline: 1px solid transparent;
  transition: 0.3s ease;
}

main #contact form input:hover {
  opacity: 75%;
}

main #contact form input:focus {
  outline: 1px solid white;
}

main #contact form select {
  margin-bottom: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  border: 1px solid white;
  outline: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

main #contact form select.selected {
  color: white;
}

main #contact form textarea {
  margin-bottom: 16px;
  resize: none;
  background: black;
  color: white;
  font-family: "Geist", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  border: 1px solid white;
  min-height: 180px;
  outline: 1px solid transparent;
  transition: 0.3s ease;
}

main #contact form textarea:hover {
  opacity: 75%;
}

main #contact form textarea:focus {
  outline: 1px solid white;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 300;
}


footer ul li {
  margin-bottom: 12px;
  transition: 0.3s ease;
}

footer ul a {
  width: fit-content;
  opacity: 75%;
  transition: 0.3s ease;
}

footer ul a:hover,
footer ul a:focus,
footer ul a:active{
  opacity: 100%;
  transform: translateX(4px);
}

footer .first {
  margin-right: 64px;
}

footer ul img {
  height: 64px;
  margin: auto;
  object-fit: contain;
}

footer ul:nth-child(1) { transition-delay: 0.2s; }
footer ul:nth-child(2) { transition-delay: 0.4s; }
footer ul:nth-child(3) { transition-delay: 0.6s; }
footer ul:nth-child(4) { transition-delay: 0.8s; }

@keyframes scroll-loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.form-disclaimer {
  margin-top: 8px;
  opacity: 75%;
}

.form-disclaimer a {
  color: #989898;
}

/* Fade-in animation for scroll */
.fade-init {
  opacity: 0 !important;
  transform: translateY(40px) !important;
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
}

.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
  pointer-events: auto;
}

@media(max-width: 912px) {
  nav.desktop {
    display: none;
  }

  header nav.mobile {
    display: flex;
  }

  main #contact form .name-container {
    gap: 0;
  }

  main #contact form .name-container .name-group {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .container {
    max-width: 430px;
  }

  section {
    padding: 3rem 0rem;
  }

  header nav a {
    display: none;
  }

  header img {
    height: 42px;
  }

  header {
    padding: 16px;
    position: relative;
    border-radius: 48px;
    gap: 4rem;
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 64px;
    /*max-width: 400px;*/
    min-width: 250px;

  }

  header #burger i {
    font-size: 32px;
  }

  main #hero {
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
  }

  main #hero h1 {
    text-align: center;
    line-height: 1;
    margin-bottom: 32px;
  }

  main #hero p {
    text-align: center;
    margin-bottom: 48px;
  }

  main #hero .actions button {
    font-size: 18px;
  }

  main #testimonials {
    padding: 2rem 0.5rem;
  }

  main #about {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

  }

  main #about h3 {
    font-size: 1.5rem;
  }


  main #projects {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  main #projects .cards {
    flex-direction: column;
  }

  main #pricing .tiers {
    flex-direction: column;
  }

  main #pricing {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  main #contact {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}
